<% content_for :titulo_de_pagina, "Nuevo Descargo para Acta #{@acta.numero}" %>

<div class="botonera row">
  <div class="navegacion col d-flex justify-content-end">
    <%= link_to 'Volver', acta_path(@acta), class: 'btn btn-dark' %>
  </div>
</div>

<div class="contenido row">
  <div class="col">
    <%= render 'form', acta: @acta, descargo: @descargo %>
  </div>
</div>
